<section class="faq-section container py-5">
    <h2 class="mb-4">FAQ</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="faq-item mb-4">
                <h5 class="faq-question">How does the 30-day free trial work?</h5>
                <p class="faq-answer">
                    You can use Pulse absolutely free for 30 days. After 30 days, we will charge the credit card you used when you sign up. If you choose to cancel your account before your trial ends, your card will not be charged.
                </p>
            </div>
            <div class="faq-item mb-4">
                <h5 class="faq-question">What is a “Financial Account”?</h5>
                <p class="faq-answer">
                    Financial Accounts are a grouping of income and expense items that can be used for tracking or reporting purposes. They’re designed to be flexible and can be used to differentiate between bank accounts, companies, individuals, or between personal and business entries.
                </p>
            </div>
            <div class="faq-item">
                <h5 class="faq-question">Will I be able to cancel my account if I don’t use Pulse?</h5>
                <p class="faq-answer">
                    Yes – you can cancel your account at any time. To cancel your account, go to your billing page and click on “Please cancel my account” at the bottom of the page. The account owner is the only one who can cancel an account. An email request to delete an account is not considered cancellation.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="faq-item mb-4">
                <h5 class="faq-question">If I upgrade an existing account, do I get another free trial?</h5>
                <p class="faq-answer">
                    Brand new accounts are the only ones eligible for a 30-day free trial. If you upgrade an existing account, your credit card will be billed the new amount on the date of your next billing cycle.
                </p>
            </div>
            <div class="faq-item mb-4">
                <h5 class="faq-question">Do I have to commit to a long-term contract?</h5>
                <p class="faq-answer">
                    No. There is no contract when you use Pulse, other than agreeing to our Terms of Service.
                </p>
            </div>
            <div class="faq-item">
                <h5 class="faq-question">What types of payments do you accept?</h5>
                <p class="faq-answer">
                    We accept payments made online using Visa, Mastercard, Discover, and American Express.
                </p>
            </div>
        </div>
    </div>
</section>
