<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <img src="/resource/pulse-logo.svg" alt="Subvert Marketing Logo" class="img-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-3"><a class="nav-link" href="#">Features</a></li>
        <li class="nav-item me-3"><a class="nav-link" href="#">Customer Stories</a></li>
        <li class="nav-item me-3"><a class="nav-link" href="#">Pricing</a></li>
        <li class="nav-item me-3"><a class="nav-link" href="#">Blog</a></li>
        <li class="nav-item">
          <a class="nav-link button-sign-up px-4 py-2" href="#" style="border-radius: 0;">
            <span>Sign Up</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
